{% extends 'cricketwireless/base.html' %}


{% block content_header %}
    {% include 'cricketwireless/page-title-header.html' with page="Lead Detail" %}
{% endblock content_header %}


{% block content %}

<!-- Page content -->

    <div class="row mb-3">
        <div class="col">
        </div>
    </div>

    <div class="row mt-3">

        <div class="col-lg-4" >
            <div class="basic-lead-info">
                <a href="{% url 'leads_overview' %}" class="pull-left" style="font-style: none; color:gray;">< Back to lead overview</a>

            <h4 class="mb-5 mt-5">

                {{ lead }}

                <div class="btn-group ml-3" role="group" aria-label="Basic example">
                    <a href="{% url 'lead_update' lead.id %}" type="button" class="btn btn-sm btn-outline-dark">Update</a>
                    <a href="{% url 'lead_delete' lead.id %}" type="button" class="btn btn-sm btn-outline-dark">Delete</a>
                </div>
            
            </h4>
            
            <table class="table table-striped shadow">
                <tr class="text-white" style="background-color: gray;">
                    <td colspan="2">
                        <h5>Contact Information</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="text-muted">Phone number</span><br>
                    </td>
                    <td>
                        {% if lead.phone_number is not None %}<a href="tel:{{ lead.phone_number }}" class="lead-link">{{ lead.phone_number }}</a> {% else %} N/A {% endif %}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="text-muted">Email</span><br>
                    </td>
                    <td>
                        {% if lead.email_address is not None %}<a href="tel:{{ lead.email_address }}" class="lead-link">{{ lead.email_address }}</a> {% else %} N/A {% endif %}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="text-muted">City</span><br>
                    </td>
                    <td>
                        {% if lead.city is not None %}{{ lead.city }} {% else %} N/A {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="text-muted">State</span><br>
                    </td>
                    <td>
                        {% if lead.state is not None %}{{ lead.state }}{% else %} N/A {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="text-muted">ZIP Code</span><br>
                    </td>
                    <td>
                        {% if lead.zip_code is not None %}{{ lead.zip_code }}{% else %} N/A {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="text-muted">Street address</span><br>
                    </td>
                    <td>
                        {% if lead.street_addresss is not None %}<p>{{ lead.street_address }}</p> {% else %} N/A {% endif %}</a>
                    </td>
                </tr>
            </table>

          </div>
        </div>

        <div class="col-lg-8">

            <div class="card" id="ld-right-side">

                <div class="card-header">

                    <!-- Tabular navigation -->
                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active text-dark" id="lines-tab" data-toggle="tab" href="#lines" role="tab" aria-controls="lines" aria-selected="true">Lines</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="false">Details</a>
                        </li>
                    </ul>
                  </div>

                  <div class="card-body" id="ld-right-side-content">

          

                    <!-- Content -->
                    <div class="tab-content" id="myTabContent">

                        <!-- Lines content -->
                        <div class="tab-pane fade show active" id="lines" role="tabpanel" aria-labelledby="lines-tab">

                            <h5 class="ld-rs-title">Lines
                                <a href="{% url 'line_create' lead_id=lead.id %}" class="float-right btn btn-sm btn-dark">+ Add a new line</a>
                            </h5>
                            <br>

        
                            <br>
                            {% if lines %}
                                <div id="lines-display">

                                    {% for l in lines %}
                                        <div class="line">
                                            <h6>{{ l }}
                                                <div class="btn-group ml-3" role="group" aria-label="Basic example">
                                                    <a href="{% url 'line_update' line_id=l.id %}" class="btn btn-sm btn-outline-dark text-dark" data-toggle="tooltip" data-placement="bottom" 
                                                    title="Update this line."><i class="fas fa-pencil-ruler"></i></a>
                                                    <a href="{% url 'line_delete' l.id %}" type="button" class="btn btn-sm btn-outline-dark text-dark" data-toggle="tooltip" data-placement="bottom" 
                                                    title="Delete this line."><i class="fas fa-trash"></i></a>
                                                </div>                         
                                            </h6>
                                            <table class="table">
                                                <tr>
                                                    <td class="ld-title">Cricket protect?</td>
                                                    <td>{{ l.cricket_protect }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="ld-title">Current device</td>
                                                    <td>{{ l.current_device_type }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="ld-title">Next upgrade</td>
                                                    <td>{{ l.upgrade_eligibility_date }}</td>
                                                </tr>
                            
                                            </table>
                                        </div>
                                    {% endfor %}
                                </div>

                            {% else %}
                                <p class="text-muted text-center">No lines have been added to this customer yet. Once they're created they'll appear here.</p>
                            {% endif %}


                        </div>

                        <!-- Details content -->
                        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
                            <h5 class="ld-rs-title">Lead details</h5>
                                <table id="lead-details-table" class="table">
                                    <tr>
                                        <td class="ld-title">First inquired about</td>
                                        <td>{{ lead.desired_service }}</td>
                                    </tr>
                                    <tr>
                                        <td class="ld-title">Last interaction date</td>
                                        <td>{{ lead.date_last_interacted }}</td>
                                    </tr>
                                    <tr>
                                        <td class="ld-title">Rate/plan</td>
                                        <td>{{ lead.rate_plan }}</td>
                                    </tr>
                                    <tr>
                                        <td class="ld-title">Autopay?</td>
                                        <td>{{ lead.auto_pay }}</td>
                                    </tr>
                                    <tr>
                                        <td class="ld-title">Lead source</td>
                                        <td>{% if lead.source is not None %}{{ lead.source }}{% else %} OTHER {% endif %}</td>
                                    </tr>
                                    <tr>
                                        <td class="ld-title">Employee who generated the lead</td>
                                        <td>{% if lead.employee_generated_by is not None %}{{ lead.employee_generated_by }}{% else %} N/A {% endif %}</td>
                                    </tr>
                                    <tr>
                                        <td class="ld-title">Messages from this lead</td>
                                        <td>{% if lead.message_from_client is not None %} {{ lead.message_from_client|safe }} {% else %} N/A {% endif %}</td>
                                    </tr>
                                    <!-- <tr>
                                        <td class="ld-title">Notes about this lead</td>
                                        <td>{% if lead.notes is not None %}<p>{{ lead.notes }}</p> {% else %} N/A {% endif %}</td>
                                    </tr> -->
                                </table>
                        </div>
                    </div>
                  </div>
            </div>

    </div>

<br>
<br>


<!-- <b>Lead progress</b><br>
<p><span class="text-muted">Current status:</span> "{{ lead.current_status }}"</p>
<div class="progress">
    {% if lead.current_status == 'Inquired' %}
        <div class="progress-bar" role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
    {% elif lead.current_status == 'Contacted' %}
        <div class="progress-bar" role="progressbar" style="width: 67%" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100"></div>
    {% elif lead.current_status == 'Sold' %}
        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    {% endif %}
</div> -->

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

{% endblock %}
