{% extends 'cricketwireless/base.html' %}


{% block content_header %}
    {% include 'cricketwireless/page-title-header.html' with page="Lead Detail" %}
{% endblock content_header %}


{% block content %}

<!-- Page content -->

    <div class="row mb-3">
        <div class="col">
        </div>
    </div>

    <div class="row mt-3">

        <div class="col-lg-4" >
            <div class="basic-lead-info">
                <a href="{% url 'leads_overview' %}" class="pull-left" style="font-style: none; color:gray;">< Back to lead overview</a>

            <h4 class="mb-5 mt-5">

                {{ lead }}

                <div class="btn-group ml-3" role="group" aria-label="Basic example">
                    <a href="{% url 'lead_update' lead.id %}" type="button" class="btn btn-sm btn-outline-dark">Update</a>
                    <a href="{% url 'lead_delete' lead.id %}" type="button" class="btn btn-sm btn-outline-dark">Delete</a>
                </div>
            
            </h4>
            
            <table class="table table-striped shadow">
                <tr class="text-white" style="background-color: gray;">
                    <td colspan="2">
                        <h5>Contact Information</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="text-muted">Phone number</span><br>
                    </td>
                    <td>
                        {% if lead.phone_number is not None %}<a href="tel:{{ lead.phone_number }}" class="lead-link">{{ lead.phone_number }}</a> {% else %} N/A {% endif %}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="text-muted">Email</span><br>
                    </td>
                    <td>
                        {% if lead.email_address is not None %}<a href="tel:{{ lead.email_address }}" class="lead-link">{{ lead.email_address }}</a> {% else %} N/A {% endif %}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="text-muted">City</span><br>
                    </td>
                    <td>
                        {% if lead.city is not None %}{{ lead.city }} {% else %} N/A {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="text-muted">State</span><br>
                    </td>
                    <td>
                        {% if lead.state is not None %}{{ lead.state }}{% else %} N/A {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="text-muted">ZIP Code</span><br>
                    </td>
                    <td>
                        {% if lead.zip_code is not None %}{{ lead.zip_code }}{% else %} N/A {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="text-muted">Street address</span><br>
                    </td>
                    <td>
                        {% if lead.street_addresss is not None %}<p>{{ lead.street_address }}</p> {% else %} N/A {% endif %}</a>
                    </td>
                </tr>
            </table>

          </div>
        </div>

        <div class="col-lg-8">

            <div class="detailed-lead-info">
                <div class="lead-info-item">
                    <b>Lead progress</b><br>
                    <p><span class="text-muted">Current status:</span> "{{ lead.current_status }}"</p>
                    <div class="progress">
                        {% if lead.current_status == 'Inquired' %}
                            <div class="progress-bar" role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
                        {% elif lead.current_status == 'Contacted' %}
                            <div class="progress-bar" role="progressbar" style="width: 67%" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100"></div>
                        {% elif lead.current_status == 'Sold' %}
                            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        {% endif %}
                    </div>
                </div>
                <br>
                <hr>

                <div class="lead-info-item">
                    <b>Inquired about</b><br>
                    <p>{{ lead.desired_service }} </p>
     
                </div>

                <br>
                <hr>

                <div class="lead-info-item">
                    <b>Lead generated by</b><br>
                    <p>{% if lead.type is not None %}{{ lead.type }}{% else %} N/A {% endif %}</p>
                </div>

                <hr>

                <div class="lead-info-item">
                    <b>Where did this lead come from?</b><br>
                    <p>{% if lead.source is not None %}{{ lead.source }}{% else %} N/A {% endif %}</p>
                </div>

                <hr>

                <div class="lead-info-item">
                    <b>Messages from this lead</b><br>
                    {% if lead.message_from_client is not None %}<p>{{ lead.message_from_client }}</p> {% else %} N/A {% endif %}</a>
                </div>

                <hr>

                <div class="lead-info-item">
                    <b>Notes about this lead</b><br>
                    {% if lead.notes is not None %}<p>{{ lead.notes }}</p> {% else %} N/A {% endif %}</a>
                </div>

            </div>
        </div>

    </div>

<br>
<br>

{% endblock %}
