{% extends 'cricketwireless/base.html' %}

{% load static %}

{% block content_header %}

<div class="row">
    <div class="col-lg-12" id="home-header">
            <img src="{% static 'cricket-characters-header.png' %}" alt="Cricket family." id="header-family-image">
   
            <div class="ml-5 mt-5" id="header-text">
                <h1>Y.A.A. CONNECT</h1>
                <h3 class="text-white lead">Wireless carrier in CT/MA</h3>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a type="button" class="btn btn-outline-light" href="{% url 'contact_us' %}">Contact us</a>
                </div>
            </div>
  
    </div>
</div>


<div class="row">
    <div class="col ml-3 mt-3">
        <h3 class="text-dark">Careers</h3>
        <p>Join our growing company! We are currently hiring at multiple locations across Connecticut and Massachusetts. Apply for an interview today.</p>
    </div>
</div>

<div class="row pl-5 pr-5">
    <div class="col">
        <div class="m-2 p-3 card bg-light">
            <h5>In Connecticut</h5>
            <ul>
                <li>$27,040.00 To 37,000.00 Annually.</li>
                <li>BILINGUAL (SPANISH/HAITIAN CREOLE) is needed.</li>
                <li>No experience required.</li>
            </ul>
            <a href="https://workforcenow.adp.com/mascsr/default/mdf/recruitment/recruitment.html?cid=cd2b6bbf-72db-414f-8740-7ea3db0df748&ccId=19000101_000001&jobId=385216&source=CC2&lang=en_US" class="btn btn-secondary stretched-link">Learn more</a>
        </div>
    </div>
    <div class="col">
        <div class="m-2 p-3 card bg-light">
            <h5>In Massachusetts</h5>
            <ul>
                <li>$31,200.00 - 38,000.00 Annually.</li>
                <li>BILINGUAL (SPANISH/HAITIAN CREOLE) is needed.</li>
                <li>No experience required.</li>
            </ul>
            <a href="https://workforcenow.adp.com/mascsr/default/mdf/recruitment/recruitment.html?cid=cd2b6bbf-72db-414f-8740-7ea3db0df748&ccId=19000101_000001&jobId=380033&lang=en_US&source=CC4" class="btn btn-secondary stretched-link">Learn more</a>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>


{% endblock %}