{% load static %}


        <ul id='navbar' class="nav position-sticky">
            <a href="{% url 'home' %}" class="navbar-brand">
                {% if cricket_logo is 0 %}
                  <h3 class="text-white ml-4 mr-4 mt-2 mb-2">Y.A.A. Connect</h3>

                  <!-- <h1 class="navbar-brand text-white p-2 m-2 mr-5 ml-5" style="border:1px solid white; border-radius: 4px;">Y.A.A. Connect</h1> -->
                {% else %}
                  <img src="{% static 'cricket-wireless-logo.png' %}" alt="" id="logo-image">

                {% endif %}
            </a>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'leads_overview' %}" class="nav-link">Leads dashboard</a></li>
                <li><a href="{% url 'data_analysis' %}" class="nav-link">Data analysis</a></li>
                <li><a href="{% url 'account_logout' %}" class="nav-link">Log out</a></li>

                <!-- <li>
                    <div class="dropdown">
                        <a class="dropbtn">Account
                          <i class="fa fa-caret-down"></i>
                        </a>
                        <div class="dropdown-content">
                          <a href="{% url 'account_logout' %}" class="dropdown-item">Log out</a>
                        </div>
                      </div>
                </li> -->

            {% endif %}
        </ul>

