{% extends 'cricketwireless/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content_header %}
    {% include 'cricketwireless/page-title-header.html' with page="Contact"%}
{% endblock content_header %}


{% block content %}

<!-- Date-time picker assets -->

<!-- "Fengyuan Chen's Datepicker" package -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>


<div class="row">

    <div class="col-lg-6 offset-lg-3">
            {% crispy form %}
    </div>

    <div class="col-lg-3 mt-3">
        <h5>Our location</h5>

        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11917.35043175424!2d-72.918955!3d41.691647!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x67633591609f20f1!2sCricket%20Wireless%20Authorized%20Retailer!5e0!3m2!1sen!2sus!4v1615823645807!5m2!1sen!2sus" 
        width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" id="contact-form-map"></iframe>
        
        <div class="card bg-light p-2 mt-3">
            <h6 class="mb-3">Y.A.A. Connect</h6>
            <p>Bristol, MA</p>
            <p>Authorized Cricket Retailer</p>
        </div>

    </div>

</div>

<script>

    // Tooltips.
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    // Date-time picker in form.
    $(function () {
      $("#id_date_last_interacted").datepicker();
    });
</script>

{% endblock content %}